@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik';
  src: url('../public/aeonik.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 251 35% 38%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 254 44% 58%;
    --accent-foreground: 254 44% 78%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 11%;
    --input: 0 0% 14.9%;
    --radius: 0.5rem;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.primary-button {
  @apply bg-gradient-to-b from-transparent to-[#f3eeff];
  background: radial-gradient(231.94% 231.94% at 50% 100%, #8a6cff 0, rgba(53, 41, 128, 0) 25.24%), linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, .04)), rgba(147, 130, 255, .01);
  box-shadow: 0 0 0 0 rgba(16, 0, 51, .4),
      0 2px 5px 0 rgba(16, 0, 51, .39),
      0 8px 8px 0 rgba(16, 0, 51, .34),
      0 19px 11px 0 rgba(16, 0, 51, .2),
      0 34px 14px 0 rgba(16, 0, 51, .06),
      0 53px 15px 0 rgba(16, 0, 51, .01),
      inset 0 0 12px 0 hsla(0, 0%, 100%, .08),
      inset 0 -8px 32px 0 #1e0d49;
}